<div class="row">
<h2>パスワード忘れましたか?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <p><font color="#ff0000"><%= render "users/shared/error_messages", resource: resource %></font></p>

  <div class="col">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <%= f.submit "上記メールアドレスへパスワード変更リンクを送信" %>
 
<% end %>
</div> 
