<div class="content_post well" >
  <span class="name">
    <a href="/users/<%= post.user_id %>">
      <h4><%= post.user.nickname %></h4>
    </a>
  </span>
  
  <font color="#ffffff"><%= post.text %></font>

      <p> <%= link_to '詳細', "/posts/#{post.id}", method: :get %> </p>
      <p><font color="#aaaaaa"> posted <%= time_tag post.created_at, "data-local": "time-ago" %> </font></p>

      <% if user_signed_in? %>
        <%= post.like_count %>
        <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
      <% end %>

</div>

