<div class="contents row">
  <div class="content_post">

    <div class="content_post well" >
    <span class="name">
    <a href="/users/<%= @post.user.id %>">
     <h4> <%= @post.user.nickname %></h4>
    </a>
    </span>
  
    <font color="#000000">
    <%= @post.text %>
    </font>
    </div>

  </div>

  <div class="mb-6">
    <% if current_user %>
      <label for="exampleFormControlTextarea1" class="form-label">コメント</label>
      <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
        <textarea class="form-control" id="exampleFormControlTextarea1"name="text" placeholder="みんなで解決し合いましょう!!", rows="6"></textarea>
        <input type="submit" value="コメントする">
    <% end %>
    <% end %>
    
    </div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
            <font color="#000000">
            <%= comment.text %>
            </font>
          
          <p><font color="#aaaaaa"> 
            posted: <%= @post.created_at.to_s(:datetime_jp) %>
          </font></p>

          <% if user_signed_in? %>
            <%= @post.like_count %>
            <%= link_to '編集', "/posts/#{@post.id}/comments/#{comment.id}/edit", method: :get %>
            <%= link_to '削除', "/posts/#{@post.id}/comments/#{comment.id}", method: :delete %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>