<div class="contents row">
  <div class="content_post">
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more">
            <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
    <% end %>
    <span class="name">
      <a href="/users/<%= @post.user.id %>">
       <h4> <%= @post.user.nickname %></h4>
      </a>
    </span>
    <font color="#ffffff">
    <%= @post.text %>
    </font>

  </div>

  <div class="container">
    <% if current_user %>
      <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
        <textarea name="text" placeholder="コメントする" rows="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>

    <div class="comments">
      <h5>＜コメント一覧＞</h5>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
            <font color="#ffffff">
            <%= comment.text %>
            </font>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
