<!DOCTYPE html>
<html>
  <head>
    <title>Dalton Gen19 Chatspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: "all", 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
  <header class="header">
  <%= link_to image_tag('logo.png', width: '150'), '/' %>
  <% if user_signed_in? %>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
  <h3><%= current_user.nickname %>さん，こんにちは．</h3>
    <button type="button" class="btn btn-primary"><a href="/posts/new"><font color="#ffffff"> 投稿 </font></a></button>
    <button class="btn btn-primary" type="button"><a href="/users/<%= current_user.id %>"><font color="#ffffff">マイページ</font></a></button>
    <button class="btn btn-primary" type="button"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style => "color:white;" %></button>
  </div>
  <% else %>
  <% end %>
  
  
  </header>

  <%= yield %>
  </div>

  <footer>
    <p>
      © Rumi Yamaguchi 2021.
    </p>
  </footer>

  </body>
</html>
