<!DOCTYPE html>
<html>
  <head>
    <title>DaltonGen19Chatspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Unica+One::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  </head>

  <body>

  <div class="container">
      <%= yield %>
  </div>

  <footer>
    <p>
      © Rumi Yamaguchi 2021.
    </p>
  </footer>

  </div>
  </body>
</html>
