<!DOCTYPE html>
<html>
  <head>
    <title>DaltonGen19Chatspace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.simpless.org/simple.min.css">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

  <div class="container">
      <%= yield %>
  </div>

  <footer>
    <p>
      © Rumi Yamaguchi 2021.
    </p>
  </footer>

  </div>
  </body>
</html>
